// Primary
$BrainFlix-Black: #323232;

$BrainFlix-Blue: #0095FF;

$Silver: #AFAFAF;

$White: #FFFFFF;

// Secondary
$BrainFlix-DarkBlack: #000000;

$BrainFlix-DarkBlue: #0065AD;

$Mercury: #E1E1E1;

$Alabaster: #FAFAFA;

$tablet-break-point: 768px;

$desktop-break-point: 1280px;
