@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

html{
    font-family: "AvenirNextLTPro";
}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

.search-input {
    width: 80%;
    padding: 10px 10px 10px 40px;
    border: 1px solid $Silver;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: $Alabaster;
}

.search-input::placeholder {
    color: $BrainFlix-Black;
    @include bodycopy--mobile;
}

.search-container{
    flex: 1;
    max-width: 90%; 
    position: relative;

}

@media (min-width: $tablet-break-point) {
    .search-input {
        width: 240px;}

    .search-container{
        flex: 1;
        max-width: 100%; 
        position: relative;
    }

    .search-input::placeholder {
        @include bodycopy--tablet;
    }

    .search-icon {
        position: absolute;
        left: 13px; 
        top: 50%;
        transform: translateY(-50%);
        width: 20px; 
        height: 20px; 
    }
}
