@use '../../styles/partials/variables' as *;

@media (min-width: $tablet-break-point) {
    .selected__image--container {
        display: flex;
        background-color: black;       
        width: 100%;                   
        justify-content: center;   
    }
    
    .selected__image {
        width: 90%;                    
    }
}


@media (min-width: $desktop-break-point) {
    .selected__image--container {
        display: flex;
        background-color: black;        
        width: 100%;                   
        justify-content: center;   
    }
    
    .selected__image {
        width: 70%;                     
    }
}