@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

html{
    font-family: "AvenirNextLTPro";
}

.comment{
    &__section{
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
    border-bottom: 1px solid $Mercury;
}

    &__detail{
        display: flex;
        flex-direction: column;
        padding-left: 16px;
    }

    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include bodycopy--mobile;
    }

    &__name{
        @include subheader-mobile;
    }

    &__date{
        color: $Silver;
    }

    &__content{
        padding-top: 12px;
        @include bodycopy--mobile;
    }
}


@media (min-width: $tablet-break-point) {
    .input-button{
        display: flex;
        gap: 20px;
    }

    .comment{
        &__info{
            @include bodycopy--tablet;
        }

        &__section{
            padding: 24px 0px;
        } 
        
        &__name{
        @include subheader-tablet;
        }

        &__content{
            padding-top: 6px;
            @include bodycopy--tablet;
        }
    }
}

@media (min-width: $desktop-break-point) {
.comment{
    &__section{
        &:last-child {
            border-bottom: none; 
        }
}
}
}