@use './styles/partials/fonts' as *;



*{
    font-family: "AvenirNextLTPro";
    margin: 0;
}

.Video {
    width: 200px;

    &--active {
        // Add your active card styles here
        background-color: red;
    }
}