@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;



*{
    font-family: "AvenirNextLTPro";
    margin: 0;
}

.Video {
    width: 200px;

    &--active {
        // Add your active card styles here
        background-color: red;
    }
}

@media (min-width: $desktop-break-point) {
    .desktop-layout{
        display: flex;
        max-width: 1200px;           
        margin: 0 auto;              
        padding: 0 63px;              
        justify-content: center;     
    }


}